<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.site.dao.sys.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.web.site.entity.sys.SysMenu">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="PERMISSIONS" jdbcType="VARCHAR" property="permissions" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ORDER_BY" jdbcType="DECIMAL" property="orderBy" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="COMPONENT" jdbcType="VARCHAR" property="component" />
    <result column="REDIRECT_PATH" jdbcType="VARCHAR" property="redirectPath" />
    <result column="IS_HIDDREN" jdbcType="VARCHAR" property="isHiddren" />
    <result column="IS_LAST_LEVEL" jdbcType="VARCHAR" property="isLastLevel" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.web.site.entity.sys.SysMenu">
    <result column="URL" jdbcType="LONGVARCHAR" property="url" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, TYPE, ICON, PERMISSIONS, PARENT_ID, REMARK, CREATE_TIME, ORDER_BY, STATUS, 
    PATH, COMPONENT, REDIRECT_PATH, IS_HIDDREN, IS_LAST_LEVEL
  </sql>
  <sql id="Blob_Column_List">
    URL
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.web.site.entity.sys.SysMenuExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.web.site.entity.sys.SysMenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="PageSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_menu
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_menu
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.web.site.entity.sys.SysMenu">
    insert into sys_menu (ID, NAME, TYPE, 
      ICON, PERMISSIONS, PARENT_ID, 
      REMARK, CREATE_TIME, ORDER_BY, 
      STATUS, PATH, COMPONENT, 
      REDIRECT_PATH, IS_HIDDREN, IS_LAST_LEVEL, 
      URL)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{permissions,jdbcType=VARCHAR}, #{parentId,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{orderBy,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR}, 
      #{redirectPath,jdbcType=VARCHAR}, #{isHiddren,jdbcType=VARCHAR}, #{isLastLevel,jdbcType=VARCHAR}, 
      #{url,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.web.site.entity.sys.SysMenu" useGeneratedKeys="true">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="permissions != null">
        PERMISSIONS,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="orderBy != null">
        ORDER_BY,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="component != null">
        COMPONENT,
      </if>
      <if test="redirectPath != null">
        REDIRECT_PATH,
      </if>
      <if test="isHiddren != null">
        IS_HIDDREN,
      </if>
      <if test="isLastLevel != null">
        IS_LAST_LEVEL,
      </if>
      <if test="url != null">
        URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null">
        #{permissions,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        #{component,jdbcType=VARCHAR},
      </if>
      <if test="redirectPath != null">
        #{redirectPath,jdbcType=VARCHAR},
      </if>
      <if test="isHiddren != null">
        #{isHiddren,jdbcType=VARCHAR},
      </if>
      <if test="isLastLevel != null">
        #{isLastLevel,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.site.entity.sys.SysMenuExample" resultType="java.lang.Long">
    select count(*) from sys_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.site.entity.sys.SysMenu">
    update sys_menu
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null">
        PERMISSIONS = #{permissions,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderBy != null">
        ORDER_BY = #{orderBy,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        COMPONENT = #{component,jdbcType=VARCHAR},
      </if>
      <if test="redirectPath != null">
        REDIRECT_PATH = #{redirectPath,jdbcType=VARCHAR},
      </if>
      <if test="isHiddren != null">
        IS_HIDDREN = #{isHiddren,jdbcType=VARCHAR},
      </if>
      <if test="isLastLevel != null">
        IS_LAST_LEVEL = #{isLastLevel,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.web.site.entity.sys.SysMenu">
    update sys_menu
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      PERMISSIONS = #{permissions,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ORDER_BY = #{orderBy,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      COMPONENT = #{component,jdbcType=VARCHAR},
      REDIRECT_PATH = #{redirectPath,jdbcType=VARCHAR},
      IS_HIDDREN = #{isHiddren,jdbcType=VARCHAR},
      IS_LAST_LEVEL = #{isLastLevel,jdbcType=VARCHAR},
      URL = #{url,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.site.entity.sys.SysMenu">
    update sys_menu
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      PERMISSIONS = #{permissions,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ORDER_BY = #{orderBy,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      COMPONENT = #{component,jdbcType=VARCHAR},
      REDIRECT_PATH = #{redirectPath,jdbcType=VARCHAR},
      IS_HIDDREN = #{isHiddren,jdbcType=VARCHAR},
      IS_LAST_LEVEL = #{isLastLevel,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="PageSuffix">
    <if test="page != null">
      limit #{page.begin},#{page.length}
    </if>
  </sql>
  <sql id="OracleDialectPrefix">
    <if test="page != null">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
  <!--查询菜单树-->
  <select id="selectTree" resultType="com.web.site.entity.sys.SysMenu">
    select id,name,type,url,icon,permissions,parent_id as parentId,remark,order_by as orderBy
     ,path as path
     ,component as component
     ,redirect_path as redirectPath
     ,is_hiddren as isHiddren
     ,is_last_level as isLastLevel
    from sys_menu where status = '1' start with id=1 connect by prior id=parent_id order siblings by order_by asc
  </select>

  <!--<select id="getUserFatherMenuList" resultType="com.web.site.entity.sys.SysMenu">-->
    <!--select sm.id as id,sm.url as url,sm.name as name,sm.icon as icon,sm.parent_id as parentId ,sm.type as type-->
     <!--,sm.path as path-->
     <!--,sm.component as component-->
     <!--,sm.redirect_path as redirectPath-->
     <!--,sm.is_hiddren as isHiddren-->
     <!--,sm.is_last_level as isLastLevel-->
     <!--from sys_menu sm-->
    <!--where id in (-->
    <!--select distinct m.id as id-->
    <!--from sys_user_role ur-->
    <!--LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id-->
    <!--LEFT JOIN sys_menu m on rm.menu_id = m.id-->
    <!--where ur.user_id = #{id} and m.status = '1'-->
    <!--)-->
    <!--start with sm.id=1 connect by prior sm.id=sm.parent_id order siblings by sm.order_by asc-->

  <!--</select> -->
  <select id="getUserFatherMenuList" resultType="com.web.site.entity.sys.SysMenu">
    select sm.id as id,sm.url as url,sm.name as name,sm.icon as icon,sm.parent_id as parentId ,sm.type as type
     ,sm.path as path
     ,sm.component as component
     ,sm.redirect_path as redirectPath
     ,sm.is_hiddren as isHiddren
     ,sm.is_last_level as isLastLevel
     ,sm.order_by as orderBy
     from sys_menu sm
    where id in (
    select distinct m.id as id
    from sys_user_role ur
    LEFT JOIN sys_role_menu rm on ur.role_id = rm.role_id
    LEFT JOIN sys_menu m on rm.menu_id = m.id
    where ur.user_id = #{id} and m.status = '1'
    )


  </select>
</mapper>